@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: #a855f7 transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 15px;
}

.blink::after {
  content: "|||";
  animation: blink 1s infinite;
  @apply bg-purple-500 text-purple-500;
}
